/* line 1, ../sass/gridforms.scss */
.grid-form *, .grid-form *:before, .grid-form *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, ../sass/gridforms.scss */
.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea, .grid-form select {
  font-size: 18px;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 3, ../sass/gridforms.scss */
.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea {
  border: 0;
  background: transparent;
}

/* line 4, ../sass/gridforms.scss */
.grid-form input[type="text"]::-webkit-input-placeholder, .grid-form input[type="email"]::-webkit-input-placeholder, .grid-form textarea::-webkit-input-placeholder {
  font-weight: 100;
  color: #595959;
}

/* line 5, ../sass/gridforms.scss */
.grid-form input[type="text"]:-moz-placeholder, .grid-form input[type="email"]:-moz-placeholder, .grid-form textarea:-moz-placeholder {
  font-weight: 100;
  color: #595959;
}

/* line 6, ../sass/gridforms.scss */
.grid-form input[type="text"]:focus, .grid-form input[type="email"]:focus, .grid-form textarea:focus {
  outline: none;
}

/* line 7, ../sass/gridforms.scss */
.grid-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/gridforms.scss */
.grid-form fieldset legend {
  border: none;
  border-bottom: 4px solid #404040;
  color: #404040;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  position: static;
  width: 100%;
}

/* line 9, ../sass/gridforms.scss */
.grid-form fieldset fieldset legend {
  border-bottom: 2px solid #404040;
  font-weight: normal;
}

/* line 10, ../sass/gridforms.scss */
.grid-form fieldset fieldset fieldset legend {
  border-bottom: 1px solid #404040;
  font-weight: normal;
  font-size: 15px;
}

/* line 11, ../sass/gridforms.scss */
.grid-form [data-row-span] {
  border-bottom: 1px solid #333333;
  width: 100%;
  zoom: 1;
}

/* line 12, ../sass/gridforms.scss */
.grid-form [data-row-span]:before, .grid-form [data-row-span]:after {
  content: "";
  display: table;
}

/* line 13, ../sass/gridforms.scss */
.grid-form [data-row-span]:after {
  clear: both;
}

@media only screen and (min-width: 0) and (max-width: 700px) {
  /* line 14, ../sass/gridforms.scss */
  .grid-form [data-row-span] {
    border-bottom: none;
  }
}
/* line 15, ../sass/gridforms.scss */
.grid-form [data-row-span] [data-field-span] {
  padding: 8px;
  float: left;
}

@media only screen and (min-width: 0) and (max-width: 700px) {
  /* line 16, ../sass/gridforms.scss */
  .grid-form [data-row-span] [data-field-span] {
    border-bottom: 1px solid #333333;
    width: 100% !important;
  }
}
@media only screen and (min-width: 700px) {
  /* line 17, ../sass/gridforms.scss */
  .grid-form [data-row-span] [data-field-span] {
    border-right: 1px solid #333333;
    display: block;
  }
}
/* line 18, ../sass/gridforms.scss */
.grid-form [data-row-span] [data-field-span] label:first-child {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #333333;
  display: block;
  margin-bottom: 4px;
}

/* line 19, ../sass/gridforms.scss */
.grid-form [data-row-span] [data-field-span] label:first-child:hover {
  cursor: text;
}

/* line 20, ../sass/gridforms.scss */
.grid-form [data-row-span] [data-field-span]:last-child {
  border-right: none;
}

/* line 21, ../sass/gridforms.scss */
.grid-form [data-row-span] [data-field-span].focus {
  background: #fffad4;
}

/* line 22, ../sass/gridforms.scss */
.grid-form [data-row-span] [data-field-span].focus label {
  color: #262626;
}

/* line 23, ../sass/gridforms.scss */
.grid-form [data-row-span] [data-field-span]:hover {
  background: #fffded;
  cursor: text;
}

/* line 24, ../sass/gridforms.scss */
.grid-form [data-row-span="1"] > [data-field-span="1"] {
  width: 100%;
}

/* line 25, ../sass/gridforms.scss */
.grid-form [data-row-span="2"] > [data-field-span="1"] {
  width: 50%;
}

/* line 26, ../sass/gridforms.scss */
.grid-form [data-row-span="2"] > [data-field-span="2"] {
  width: 100%;
}

/* line 27, ../sass/gridforms.scss */
.grid-form [data-row-span="3"] > [data-field-span="1"] {
  width: 33.33333%;
}

/* line 28, ../sass/gridforms.scss */
.grid-form [data-row-span="3"] > [data-field-span="2"] {
  width: 66.66667%;
}

/* line 29, ../sass/gridforms.scss */
.grid-form [data-row-span="3"] > [data-field-span="3"] {
  width: 100%;
}

/* line 30, ../sass/gridforms.scss */
.grid-form [data-row-span="4"] > [data-field-span="1"] {
  width: 25%;
}

/* line 31, ../sass/gridforms.scss */
.grid-form [data-row-span="4"] > [data-field-span="2"] {
  width: 50%;
}

/* line 32, ../sass/gridforms.scss */
.grid-form [data-row-span="4"] > [data-field-span="3"] {
  width: 75%;
}

/* line 33, ../sass/gridforms.scss */
.grid-form [data-row-span="4"] > [data-field-span="4"] {
  width: 100%;
}

/* line 34, ../sass/gridforms.scss */
.grid-form [data-row-span="5"] > [data-field-span="1"] {
  width: 20%;
}

/* line 35, ../sass/gridforms.scss */
.grid-form [data-row-span="5"] > [data-field-span="2"] {
  width: 40%;
}

/* line 36, ../sass/gridforms.scss */
.grid-form [data-row-span="5"] > [data-field-span="3"] {
  width: 60%;
}

/* line 37, ../sass/gridforms.scss */
.grid-form [data-row-span="5"] > [data-field-span="4"] {
  width: 80%;
}

/* line 38, ../sass/gridforms.scss */
.grid-form [data-row-span="5"] > [data-field-span="5"] {
  width: 100%;
}

/* line 39, ../sass/gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="1"] {
  width: 16.66667%;
}

/* line 40, ../sass/gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="2"] {
  width: 33.33333%;
}

/* line 41, ../sass/gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="3"] {
  width: 50%;
}

/* line 42, ../sass/gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="4"] {
  width: 66.66667%;
}

/* line 43, ../sass/gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="5"] {
  width: 83.33333%;
}

/* line 44, ../sass/gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="6"] {
  width: 100%;
}

/* line 45, ../sass/gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="1"] {
  width: 14.28571%;
}

/* line 46, ../sass/gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="2"] {
  width: 28.57143%;
}

/* line 47, ../sass/gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="3"] {
  width: 42.85714%;
}

/* line 48, ../sass/gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="4"] {
  width: 57.14286%;
}

/* line 49, ../sass/gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="5"] {
  width: 71.42857%;
}

/* line 50, ../sass/gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="6"] {
  width: 85.71429%;
}

/* line 51, ../sass/gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="7"] {
  width: 100%;
}

/* line 52, ../sass/gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="1"] {
  width: 12.5%;
}

/* line 53, ../sass/gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="2"] {
  width: 25%;
}

/* line 54, ../sass/gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="3"] {
  width: 37.5%;
}

/* line 55, ../sass/gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="4"] {
  width: 50%;
}

/* line 56, ../sass/gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="5"] {
  width: 62.5%;
}

/* line 57, ../sass/gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="6"] {
  width: 75%;
}

/* line 58, ../sass/gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="7"] {
  width: 87.5%;
}

/* line 59, ../sass/gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="8"] {
  width: 100%;
}

/* line 60, ../sass/gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="1"] {
  width: 11.11111%;
}

/* line 61, ../sass/gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="2"] {
  width: 22.22222%;
}

/* line 62, ../sass/gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="3"] {
  width: 33.33333%;
}

/* line 63, ../sass/gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="4"] {
  width: 44.44444%;
}

/* line 64, ../sass/gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="5"] {
  width: 55.55556%;
}

/* line 65, ../sass/gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="6"] {
  width: 66.66667%;
}

/* line 66, ../sass/gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="7"] {
  width: 77.77778%;
}

/* line 67, ../sass/gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="8"] {
  width: 88.88889%;
}

/* line 68, ../sass/gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="9"] {
  width: 100%;
}

/* line 69, ../sass/gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="1"] {
  width: 10%;
}

/* line 70, ../sass/gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="2"] {
  width: 20%;
}

/* line 71, ../sass/gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="3"] {
  width: 30%;
}

/* line 72, ../sass/gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="4"] {
  width: 40%;
}

/* line 73, ../sass/gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="5"] {
  width: 50%;
}

/* line 74, ../sass/gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="6"] {
  width: 60%;
}

/* line 75, ../sass/gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="7"] {
  width: 70%;
}

/* line 76, ../sass/gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="8"] {
  width: 80%;
}

/* line 77, ../sass/gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="9"] {
  width: 90%;
}

/* line 78, ../sass/gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="10"] {
  width: 100%;
}

/* line 79, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="1"] {
  width: 9.09091%;
}

/* line 80, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="2"] {
  width: 18.18182%;
}

/* line 81, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="3"] {
  width: 27.27273%;
}

/* line 82, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="4"] {
  width: 36.36364%;
}

/* line 83, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="5"] {
  width: 45.45455%;
}

/* line 84, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="6"] {
  width: 54.54545%;
}

/* line 85, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="7"] {
  width: 63.63636%;
}

/* line 86, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="8"] {
  width: 72.72727%;
}

/* line 87, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="9"] {
  width: 81.81818%;
}

/* line 88, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="10"] {
  width: 90.90909%;
}

/* line 89, ../sass/gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="11"] {
  width: 100%;
}

/* line 90, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="1"] {
  width: 8.33333%;
}

/* line 91, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="2"] {
  width: 16.66667%;
}

/* line 92, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="3"] {
  width: 25%;
}

/* line 93, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="4"] {
  width: 33.33333%;
}

/* line 94, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="5"] {
  width: 41.66667%;
}

/* line 95, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="6"] {
  width: 50%;
}

/* line 96, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="7"] {
  width: 58.33333%;
}

/* line 97, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="8"] {
  width: 66.66667%;
}

/* line 98, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="9"] {
  width: 75%;
}

/* line 99, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="10"] {
  width: 83.33333%;
}

/* line 100, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="11"] {
  width: 91.66667%;
}

/* line 101, ../sass/gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="12"] {
  width: 100%;
}
