/**
 * @file
 * Field Styling
 *
 * The Fences module allows site builders to pick the semeantic HTML5 element
 * for each field while editing the field's settings. There's no way a theme
 * can ever know which element to use for the fields on your site, so Zen
 * just uses lets Drupal core or Fences decide. Since you DO NOT want 3 wrapping
 * divs around every field (do you?), we highly recommend Fences.
 *
 * http://drupal.org/project/fences
 */

@import "base";

/*
 * Field wrappers when the Fences module is enabled.
 */

.field-label { /* The optional label for a field. */
}

.field-FIELDNAME { /* Underscores in field name are replaced with dashes. */
}


/*
 * If you don't use the Fences module, that's fine. Really. I think. Just use
 * these selectors instead:
 */

.field { /* Wrapper for any field. */
}

/*
 * Field types (Core)
 */

.field-type-text {
}

.field-type-text-long {
}

.field-type-text-with-summary {
}

.field-type-image {
}

.field-type-file {
}

.field-type-taxonomy-term-reference {
}

.field-type-number-integer {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-list-text {
}

.field-type-list-boolean {
}

.field-type-list-integer {
}

.field-type-list-float {
}

/*
 * Field types (Contrib)
 */

.field-type-datetime { /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */
}

.field-type-node-reference {
}

.field-type-user-reference {
}

/*
 * Named fields
 */

.field-name-body {
}

.field-name-field-image {
}

.field-name-field-tags {
}

.field-name-field-FIELDNAME { /* Underscores in field name are replaced with dashes. */
}

.field-logo { display: inline; }

.body {
  p { margin: 0.5em 0; }
}

.profile {
  text-decoration: none;
  line-height: 1.3;
  margin-top: 0.1em;
  white-space: nowrap;
  display: inline;
  @include ellipsis;
  .username {
    font-weight: bold;
    color: lighten(black, 40%);
  }
  figure.user-picture {
    @include reset-float;
    display: inline;
    margin: 0;
  }
  img { width: 16px; }
}

.jquery_colorpicker_color_display, img.swatch {
  display: inline-block;
  position: relative;
  bottom: 0;
  @include border-radius(0.2em);
}

.jquery_colorpicker_color_display {
  margin-right: 0.3em;
  width: 1.4em;
  height: 1.4em;
}

img.swatch {
  bottom: -0.35em;
}

p.submitted {
  img.swatch {
    position: relative;
    bottom: -0.2em;
  }
}

span {
  &.event, &.question {
    white-space: nowrap;
    padding: 0.3em 0.4em 0.3em 0.2em;
    background: lighten(black, 80%);
    @include border-radius(0.2em);
    a { text-decoration: none; }
    &:hover {
      background: darken(white, 80%);
      a { color: white; }
    }
  }
}

blockquote.post {
  a {
    text-decoration: none;
    color: lighten(black, 30%);
  }
}

p.actions {
  a {
    @include sassy-button;
    margin: 0.4em 0.1em;
  }
  .flag-add-participants,
  .flag-auto-post {
    a { @include sassy-button; }
  }
}
