/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */

@import "base";


// Some variables to make altering the styling easier.
$tabs-container-bg: #fff;
$tabs-border: #bbb;


/*
 * Basic positioning styles shared by primary and secondary tabs.
 */

ul.primary,
ul.secondary {
  @include clearfix;
  border: 0;
  list-style: none;
  margin: 0 -0.75em 1.5em;
  padding: 0 2px 0;
  white-space: nowrap;

  li {
    float: left;
    margin: 0.5em 3px 0;
  }

  a {
    border: 0;
    display: block;
    line-height: 1.5em;
    text-decoration: none;
  }
}

/*
 * Primary tabs
 */

ul.primary {
  margin: 0 auto ;
  background: lighten(gray, 30%);
  li {
    @include border-top-radius(4px);
    @include single-text-shadow(none);
    border: 0;
    margin: 0.5em 0 0 3px;
  }
  li.active {
    border: 0;
  }

  a:link,
  a:visited {
    @include border-top-radius(4px);
    @include transition(background-color 0.3s);
    color: #333;
    background-color: lighten(black, 60%);
    padding: 0.8em 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  a:hover,
  a:focus {
    background-color: lighten(black, 70%);
    border-color: #f2f2f2;
  }
  a.active {
    background-color: lighten(black, 20%);
    color: #fff;
    @include filter-gradient(rgba(lighten(black, 50%), 1), rgba(lighten(black, 50%), 0));
    @include background-image(linear-gradient(rgba(lighten(black, 50%), 1), rgba(lighten(black, 50%), 0)));
    border-color: #fff;
  }
}

/*
 * Secondary tabs
 */

ul.secondary {
  font-size: .9em;
  margin-top: -1.5em; /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;

  a:link,
  a:visited {
    @include border-radius(.75em);
    @include transition(background-color 0.3s);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    background-color: #f2f2f2;
    color: #666;
    padding: 0 .5em;
  }
  a:hover,
  a:focus {
    background-color: #dedede;
    border-color: #999;
    color: #333;
  }
  a.active,
  a:active {
    @include single-text-shadow(#333, 1px, 1px, 0);
    background-color: #666;
    border-color: #000;
    color: #fff;
  }
}
