[submodule "js/d3"]
	path = js/d3
	url = git@github.com:mbostock/d3.git
[submodule "js/intro.js"]
	path = js/intro.js
	url = git@github.com:usablica/intro.js.git
[submodule "js/moment"]
	path = js/moment
	url = git@github.com:moment/moment.git
[submodule "js/livereload-js"]
	path = js/livereload-js
	url = git@github.com:livereload/livereload-js.git
[submodule "js/pietimer"]
	path = js/pietimer
	url = git@github.com:knorthfield/pietimer.git
[submodule "js/purl"]
	path = js/purl
	url = git@github.com:allmarkedup/purl.git
[submodule "js/sprintf.js"]
	path = js/sprintf.js
	url = git@github.com:alexei/sprintf.js.git
[submodule "sass-extensions/Font-Awesome"]
	path = sass-extensions/Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
